
		.preloader{
			margin-bottom: 20px;
			text-transform: uppercase;
			color: #fb3958;
			font-weight: bold;
			animation: animate .5s linear infinite;

			@keyframes animate {
				17% {
					border-bottom-right-radius: 3px;
				}
				50% {
					transform: translateY(18px) scale(1,.9);
					border-bottom-right-radius: 40px;
				}
			}
		}
		.preloaderBtn {
			background: #fb3958;
			color: black;
			padding: 5px 15px;
			border-radius: 5px;
			border: none;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
			outline: none;
			&:hover {
				background: rgba(	251,	57,	88, 0.9);
				transition: .25s ease;
				cursor: pointer;
			}
		}